version: "3.9"

services:
  app:
    build: 
      context: . # "." Build from the current directory
      args:
        - DEV=true # Build argument to indicate development mode
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    command: >
      sh -c "python manage.py runserver 0.0.0.0:8000"